<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= product.reference %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= product.description %>
  </p>

</div>
